@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #000000;
    --background: #FAFAFA;
    --navbar-height: 64px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra  */
.menu__wrapper {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    z-index: 2;
    gap: 1.5rem;
    background: var(--background);
    height: var(--navbar-height);
    padding: 0px 1rem;
    align-items: center;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
}

.menu__bar {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: inherit;
}

.logo svg {
    fill: var(--primary);
}

.hide {
    color: var(--primary);
    font-size: 70px;
    font-family: "Sedan SC", serif;
}

/* Body */
.corpo {
    position: absolute;
    top: calc(var(--navbar-height) + 1%); /* Coloca a div abaixo do menu dropdown */
    left: 0;
    width: 100%;  
    box-sizing: border-box; 
    z-index: 1; /* Ajusta o z-index para que fique abaixo da dropdown__wrapper */
}

.game {
    background-color: #c4c4c4; 
    padding: 20px;
}

.img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

img {
    width: 300px;
    height: 300px;
}

.img_config {
    display: flex;
    position: relative;
}

.info {
    margin-top: 300px;
}

.lista {
    display: flex;
    justify-content: center;
    font-family: "Sedan SC", serif;
    font-size: xx-large;
    font-weight: 300;
}

.lista h2 {
    display: flex;
    gap: 10px; 
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
}

input {
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 40px;
    font-size: xx-large;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.letras_usadas {
    margin-top: 10px;
}

.letras_inputs {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.letras_inputs h3{
    text-align: center;
}

#letrasUsadasContainer {
    display: flex;  /* Ou display: grid */
    gap: 10px; /* Ajuste o valor do espaço entre as letras */
    flex-wrap: wrap; /* Para quebrar linha se necessário */
    font-size: 30px;
    justify-content: center;
}

.letra-usada-verde {
    color: rgb(34, 253, 34);
    font-weight: bold;
}

.letra-usada-vermelha {
    color: rgb(255, 30, 30);
    font-weight: bold;
}

button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 30px;
    background: #ffffff;
    transition: .4s;
    cursor: pointer;
}

button:hover {
    background: #4bff27;
    color: #fff;
}

/* Dialog's */
dialog {
    width: 400px;
    height: 200px;
    border-radius: 5px;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

.dialog-content{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.botao {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.botao:hover {
    background: #fff;
    color: #fff;
}

.titulo {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}